:host {
    display: block;
}

ul.discourse-topics {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-bottom: 5px;
    }

    a {
        text-decoration: none;
    }
}
